body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

.banner {
    background: linear-gradient(135deg, #2e8b57, #1f5e3b);
    color: white;
    text-align: center;
    padding: 30px;
}

/* LAYOUT 2 COLUNAS */
.layout {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* LADO ESQUERDO */
.vagas {
    flex: 1;
}

/* LADO DIREITO */
.cadastro {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* CARD VAGAS */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #2e8b57;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #256f45;
}

.status {
    margin-top: 10px;
    background: #e6ffe6;
    padding: 10px;
    border-left: 5px solid green;
}

.escondido {
    display: none;
}