body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

/* HEADER */
.banner {
    background: linear-gradient(135deg, #5a00a3, #3b006b);
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.titulo-central h1 {
    font-size: 60px;
    margin: 0;
}

.titulo-central p {
    font-size: 20px;
    opacity: 0.9;
}

/* CONTAINER */
.container {
    padding: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* BOTÃO */
button {
    background: #5a00a3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #3f0075;
}

/* FORM */
.form {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* STATUS */
.status {
    margin-top: 15px;
    background: #e6ffe6;
    padding: 15px;
    border-left: 5px solid green;
}

/* ESCONDER */
.escondido {
    display: none;
}