body {
margin: 0;
font-family: Arial;
background: #f4f4f4;
}

/* TOPO */
.topo {
background: #2e8b57;
color: white;
text-align: center;
padding: 20px;
}

/* LOGIN/CADASTRO */
.auth-container {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 40px;
flex-wrap: wrap;
}

.box {
background: white;
padding: 20px;
width: 280px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* INPUT */
input {
width: 100%;
padding: 10px;
margin: 6px 0;
border-radius: 6px;
border: 1px solid #ccc;
}

input:focus {
outline: 2px solid #2e8b57;
}

/* BOTÃO */
button {
width: 100%;
padding: 10px;
background: #2e8b57;
color: white;
border: none;
cursor: pointer;
border-radius: 6px;
}

button:hover {
background: #256f45;
}

/* SISTEMA */
.header-sistema {
text-align: center;
padding: 15px;
background: #ddd;
}

/* LAYOUT */
.layout {
display: flex;
justify-content: center;
gap: 20px;
padding: 20px;
flex-wrap: wrap;
}

/* PAINEL */
.painel {
background: white;
width: 350px;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* VAGA */
.vaga {
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #ddd;
}

/* DETALHES */
.detalhes {
background: white;
margin: 20px auto;
padding: 20px;
width: 350px;
border-radius: 10px;
}

/* KPI */
.kpi {
text-align: center;
margin-top: 20px;
font-weight: bold;
}

/* ESCONDER */
.escondido {
display: none;
}